* {
    box-sizing: border-box;
    background-color: #fcfcfc;
    color: #111;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    font-family: 'Montserrat', sans-serif;
    color: #111;
    text-transform: uppercase;
    /* border: 10px solid blue; */
}

.brand-title {
   display: flex;
   justify-content: end;
   font-family: 'Montserrat', sans-serif;
   font-size: 38px;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
    color: #111;
}

.navbar-links li a {
    text-decoration: none;
    padding: 1rem;
    display: block;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: bold;
    color: #111;
}

.navbar-links li :hover {
    font-weight: lighter;
}

.about-me-section {
    display: flex;
    /* border: 5px solid green; */
    justify-content: space-evenly;
}

.image-bailey {
 /* border: 3px solid red; */
 margin-top: 25px;
 width: 30%;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 40px;
    margin-top: 50px;
    /* border: 4px solid black; */
 
}

.article-bailey {
/* border: 3px solid blue; */
margin-bottom: 430px;
margin-top: 7px;
margin-right: 100px;
margin-left: 90px;
width: 500px;
font-size: 25px;
font-family: 'Montserrat', sans-serif;
line-height: 1.5;
}

.nature-container {
    display: flex;
    /* border: 3px solid purple; */
    align-items: center;
    flex-direction: column;
}

.nature {
    /* border: 3px solid black; */
    width: 200px;
    margin-top: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {                       /*This container  is for the nature photos */
    margin-top: 8px;
    vertical-align: middle;
}

.city-container {
    display: flex;
    /* border: 3px solid purple; */
    align-items: center;
    flex-direction: column;
}

.row-city {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column-city {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column-city img {
    margin-top: 8px;
    vertical-align: middle;
}

.contact-container {
    border-radius: 5px;
    padding: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #111;
    color: white;
    padding: 12px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit] :hover {
    background-color: #1111;
}

.contact-form {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #111;
    /* border: 3px solid black; */
}

footer {
    display: flex;
    justify-content: flex-start;
    font-family: 'Montserrat', sans-serif;
    margin-left: 30px;
}

.project-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}


.fa-brands{
    display: flex;
    justify-content: end;
    padding-right: 5%;
   text-decoration: none;

}

.nope {
    display: flex;
    justify-content: end;
    padding-right: 5%;
}
 

@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
    .about-me-section {
        flex-direction: column;
        align-items: center;
    }
    .navbar-links li a {
        padding: .5rem;
    }
    .image-bailey {
        width: 50%;
    }
    .article-bailey {
        margin-right: 10px;
    }
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

@media (max-width: 800px) {
    .column-city {
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .column-city {
        flex: 100%;
        max-width: 100%;
    }
}


